<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
    <script>
      const SERVER_URL = "http://192.168.0.194:8000";
    </script>
    <title>User Information</title>
  </head>
  <body class="font-roboto leading-normal m-0 p-0 bg-[#f0f2f5] text-[#333]">
    <div class="max-w-[960px] mx-auto my-5 p-2.5">
      <div
        id="status"
        class="font-bold mb-2.5 text-[#4a4a4a] text-center text-2xl bg-white rounded-lg shadow-sm p-4 transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:shadow-md"
      >
        Waiting for user data...
      </div>

      <div
        id="fingerprintData"
        class="text-center bg-white rounded-lg shadow-sm p-4 mb-4 transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:shadow-md"
      ></div>

      <div
        class="flex justify-between items-center mt-4 text-xl text-[#4a4a4a] bg-white p-2.5 rounded-lg shadow-sm"
      >
        <div class="text-2xl text-[#4a4a4a]">
          UTC Time: <span id="utcTime"></span>
        </div>
        <div
          id="duration"
          class="text-2xl text-[#4a4a4a] text-center font-medium"
        ></div>
        <div class="text-2xl text-[#4a4a4a]">
          Local Time: <span id="localTime"></span>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div
        class="bg-[#4caf50] text-white w-1/2 rounded-full text-center text-2xl py-2"
        href="./session_page.html"
        id="plusButton"
      >
        SESSION
      </div>
    </div>

    <script>
      const statusElement = document.getElementById("status");
      const dataElement = document.getElementById("fingerprintData");
      const durationElement = document.getElementById("duration");
      const utcTimeElement = document.getElementById("utcTime");
      const localTimeElement = document.getElementById("localTime");

      let currentUser = null;
      let startTime = null;
      let durationInterval = null;
      let eventSource;
      let isCheckedIn = false;

      // Function to reset the user state
      function resetUserState() {
        currentUser = null;
        clearInterval(durationInterval);
        durationElement.textContent = "Duration: 00:00:00";
        statusElement.textContent = "Waiting for user data...";
        dataElement.innerHTML = "";
      }

      // Add event listener for page load to reset user state
      window.addEventListener("load", function () {
        resetUserState();
        initializeEventSource();
      });

      function initializeEventSource() {
        // Close existing EventSource if it exists
        if (eventSource) {
          eventSource.close();
        }

        // Replace with your actual server address and port
        eventSource = new EventSource(
          "http://localhost:5000/api/stream-readings"
        );

        eventSource.onopen = function () {
          statusElement.textContent =
            "Connected to server. Waiting for fingerprint data...";
        };

        eventSource.onmessage = async function (event) {
          let data = JSON.parse(event.data);

          console.log(data);

          if (data?.error?.includes("Invalid")) {
            statusElement.textContent = "Loading....";
            dataElement.innerHTML = "";
            return;
          }

          // Check if the user is a trainee
          if (data.user_type?.toString()?.toLowerCase() === "trainee") {
            console.log("Trainee detected. No action taken.");
            return; // Exit the function early
          }

          statusElement.textContent = "Fingerprint data received!";

          // Extract the user ID and image value
          const userId = data.id;
          const imageValue = data.image;

          localStorage.setItem("user_id", data.id);

          if (data.id) await checkIn(data);

          // Remove unnecessary fields from the data
          delete data.id;
          delete data.card_id;
          delete data.fingerprint_id;
          delete data.created_at;
          delete data.image;
          delete data.user_type;
          delete data.is_active;

          // Format the data for display
          const formattedData = Object.entries(data)
            .map(([key, value]) => {
              if (key === "name") {
                return ` ${value} `;
              }
              return `<div class="user-name">${
                value.toString().includes("invalid") ? "Loading.." : value
              }</div>`;
            })
            .join("<br>");

          // Display the formatted fingerprint data and image
          dataElement.innerHTML = `
            <img src="${imageValue}" 
                 alt="User Image" 
                 class="max-w-[150px] rounded-2xl shadow-sm mb-4  mx-auto">
            <div class="text-base leading-relaxed">${formattedData}</div>
          `;

          // currentUser = data.id;
          statusElement.textContent = "User checked in.";
        };

        eventSource.onerror = function (error) {
          console.error("EventSource failed:", error);
          statusElement.textContent =
            "Connection error. Please refresh the page.";
          eventSource.close();
          clearInterval(durationInterval);
        };
      }

      async function checkIn(data) {
        try {
          const response = await fetch(`${SERVER_URL}/atco/check-in/`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              user: data.id,
              check_in_date: new Date().toISOString(),
              position: "ACC",
              check_type: "fingerprint",
            }),
          });
          if (!response.ok) {
            throw new Error("Check-in failed");
          }
          console.log("User checked in successfully");
          startTime = new Date();
          isCheckedIn = true;
          durationElement.textContent = "Duration: 00:00:00";
          if (durationInterval) {
            clearInterval(durationInterval);
          }
          durationInterval = setInterval(updateDuration, 1000);
        } catch (error) {
          console.error("Error during check-in:", error);
        }
      }

      async function checkOut(userId) {
        try {
          const response = await fetch(`${SERVER_URL}/atco/check-out/`, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              user: userId,
            }),
          });
          if (!response.ok) {
            throw new Error("Check-out failed");
          }
          console.log("User checked out successfully");
          startTime = new Date();

          durationElement.textContent = "Duration: 00:00:00";
          if (durationInterval) {
            clearInterval(durationInterval);
          }
          durationInterval = setInterval(updateDuration, 1000);
        } catch (error) {
          console.error("Error during check-in:", error);
        }
      }

      // Close EventSource when navigating away
      window.addEventListener("beforeunload", function () {
        if (eventSource) {
          eventSource.close();
        }
      });

      function updateDuration() {
        if (startTime && isCheckedIn) {
          const now = new Date();
          const diff = now - startTime;
          const hours = Math.floor(diff / 3600000)
            .toString()
            .padStart(2, "0");
          const minutes = Math.floor((diff % 3600000) / 60000)
            .toString()
            .padStart(2, "0");
          const seconds = Math.floor((diff % 60000) / 1000)
            .toString()
            .padStart(2, "0");
          durationElement.textContent = `Duration: ${hours}:${minutes}:${seconds}`;
        }
      }

      function padZero(num) {
        return num.toString().padStart(2, "0");
      }

      // Function to update time counters
      function updateTimeCounters() {
        const now = new Date();

        const utcTime = new Date(
          now.getTime() + now.getTimezoneOffset() * 60000
        );
        utcTimeElement.textContent = formatTime(utcTime);

        localTimeElement.textContent = formatTime(now);
      }

      // Function to format time as HH:MM:SS
      function formatTime(date) {
        return date.toTimeString().split(" ")[0];
      }

      // Update time counters every second
      setInterval(updateTimeCounters, 1000);
      updateTimeCounters(); // Initial call

      const plusButton = document.getElementById("plusButton");

      plusButton.addEventListener("click", async function (event) {
        event.preventDefault(); // Prevent default navigation
        console.log("test");
        console.log(localStorage.getItem("user_id"));

        await checkOut(localStorage.getItem("user_id"));
        window.location.href = "session_page.html";

        if (eventSource) {
          eventSource.close();
        }
        if (currentUser) {
          // Check out the current user

          // Update this line to keep the duration
          currentUser = null;
          // Don't clear the interval here, as it's already cleared in checkOut()
          // Don't reset the duration display
        }

        // Close EventSource before navigating

        // Navigate to sessions.html
      });
    </script>
  </body>
</html>
